.avatar{
    border: 4px solid rgba(0,0,0,.1);
    border-radius: 5px;
    height: 300px;
}

.avatar img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.etapa {
    padding: 10px;
    float: left;
    top: 15px;
    width: 100%;
    border-radius: 5px;
    border: 4px solid rgba(0,0,0,0.1);
    height: auto;
}

#etapaContent, .peleOpc {
    display: none;
}

.imageOpt {
    border: 3px solid rgba(0,0,0,0.1);
}

.imageOpt:hover {
    border: 5px solid rgba(0,0,0,.1);
}